body {
    margin: 0;
    padding: 0;
}

.root {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background: #F5F5F5;
    @media only screen and (max-width: 1420px) {
        justify-content: flex-start;
        align-items: flex-start;
        width: 414px;

    }
    
    .jobs_list {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;
        padding-top: 29px;
        gap: 8px;
        @media only screen and (max-width: 1420px) {
            gap: 9px;
            margin: 9px;
            padding-top: 0;
        }
   
        a {
            text-decoration: none;
            list-style: none;
        }
    }
    .pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 165px;
        @media only screen and (max-width: 1420px) {
            height: 83px;
            justify-content: flex-start;
            margin-left: 9px;
        }
    
    }
}