@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'adelle_rgregular';
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
body{
	font-family: 'proxima_nova_rgregular', Helvetica, Arial, sans-serif;
}
h1{
   font-family: 'proxima_nova_rgbold', Helvetica, Arial, sans-serif;
}


.root {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1400px;
    height: 164px;
    background: #FFFFFF;
    box-shadow: 2px 1px 7px rgba(0, 0, 0, 0.08), 0px 2px 1px -1px rgba(0, 0, 0, 0.04), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    @media only screen and (max-width: 1420px) {
        width: 396px;
        height: 206px;
        background: #EFF0F5;
        position: relative;
    }

    :hover {
        cursor: pointer;
    }

    .content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 24px 16px;
        height: 116px;
        flex: none;
        order: 1;
        flex-grow: 1;
        @media only screen and (max-width: 1420px) {
            padding-left: 16px;
            padding-top: 45px;
        }

        .description {
            display: flex;
            width: 1070px;
            @media only screen and (max-width: 1420px) {
                width: 363px;
            }

            .image {
                width: 85px;
                height: 85px;
                flex: none;
                order: 0;
                flex-grow: 0;
                border-radius: 50%;
                @media only screen and (max-width: 1420px) {
                    width: 66px;
                    height: 66px;
                }
            }
            
            .information {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                padding-left: 26px;
                gap: 8px;
                width: 950px;
                height: 116px;
                opacity: 0.8;
                flex: none;
                order: 1;
                flex-grow: 1;
                @media only screen and (max-width: 1420px) {
                    width: 278px;
                    height: 135px;
                    padding-left: 18px;
                    gap: 0px;
                }
                .job_description {
                    width: 712px;
                    height: 50px;
                    font-family: 'proxima_nova_rgregular';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 25px;
                    letter-spacing: -0.625px;
                    color: #3A4562;
                    flex: none;
                    order: 1;
                    flex-grow: 0;
                    @media only screen and (max-width: 1420px) {
                        width: 278px;
                        height: 48px;
                        font-weight: 400;
                        font-size: 18px;
                        color: #3A4562;
                        overflow: hidden;
                    }
                }
                .department {
                    height: 25px;
                    font-family: 'proxima_nova_rgregular';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 25px;
                    letter-spacing: 0.23619px;
                    color: #878D9D;
                    flex: none;
                    order: 2;
                    align-self: stretch;
                    flex-grow: 0;  
                    @media only screen and (max-width: 1420px) {
                        margin-top: 5px;
                        margin-bottom: 7px;
                        width: 279px;
                        height: 50px;
                        overflow: hidden;
                    } 
                }
                .location {
                    font-family: 'proxima_nova_rgregular';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 25px;
                    letter-spacing: 0.23619px;
                    color: #878D9D;
                    order: 3;
                }
            }

        }   
        .stars {
            width: 96px;
            height: 18px;
            left: 0px;
            top: 0px;
            order: 2;
            font-size: 19px;
            span {
                color: #38415D;
            }
            @media only screen and (max-width: 1420px) {
                position: absolute;
                top: 17px;
                left: 101px;
                font-size: 10px;
                width: 54px;
                height: 10px;
            }
        }
        .share{
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 17px;
            width: 155px;
            height: 116px;
            flex: none;
            order: 3;
            align-self: stretch;
            flex-grow: 0;
            @media only screen and (max-width: 1420px) {
                width: 1px;
            }
            
            .share_icon {
                width: 32px;
                height: 32px;
                border-radius: 8px;
                flex: none;
                order: 0;
                flex-grow: 0;
                color: #878D9D;
                font-size: 20px;
                @media only screen and (max-width: 1420px) {
                    display: none;
                }
            }
            .date {
                height: 67px;
                font-family: 'proxima_nova_rgregular';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 25px;
                display: flex;
                align-items: flex-end;
                text-align: right;
                letter-spacing: 0.23619px;
                color: #878D9D;
                flex: none;
                order: 1;
                flex-grow: 1;
                @media only screen and (max-width: 1420px) {
                    display: block;
                    position: absolute;
                    top: 9px;
                    right: 16px;
                    font-size: 14px;
                }
            }
        }
    }
    
}